imports:
  - { resource: vendor/openeuropa/code-review/dist/library-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - spec/
    - callback.php
  tasks.phpmd.exclude:
    - vendor/
    - src/Messages/Components/
grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'